Por Fabian Ni√±o

In [1]:
import pandas as pd

In [2]:
datos=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv")

In [3]:
datos.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [5]:
excel = pd.read_excel("https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx")
excel.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [7]:
x = datos[["Genre"]]
x.head()

                         Genre
0               pop, rock, R&B
1                    hard rock
2             progressive rock
3               R&B, soul, pop
4  hard rock, progressive rock

In [8]:
y=datos[["Album"]]
y.head()

                       Album
0                   Thriller
1              Back in Black
2  The Dark Side of the Moon
3              The Bodyguard
4            Bat Out of Hell

In [9]:
z=excel[["Rating"]]
z.head()

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0

In [13]:
#columnas como serie y como data frame
serie=datos["Genre"]
serie.head()
print("diference")

diference

In [14]:
dataf=datos[["Genre"]]
type(dataf)

pandas.core.frame.DataFrame

In [16]:
datos.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [18]:
pruebacolumna=datos[["Artist","Genre"]]
pruebacolumna.head()

            Artist                        Genre
0  Michael Jackson               pop, rock, R&B
1            AC/DC                    hard rock
2       Pink Floyd             progressive rock
3  Whitney Houston               R&B, soul, pop
4        Meat Loaf  hard rock, progressive rock

In [19]:
datos.iloc[0,1]

'Thriller'

In [20]:
datos.iloc[3,3]

'0:57:44'

In [25]:
datos.loc[3,"Album"]

'The Bodyguard'

In [27]:
datos.loc[1:3,"Album"]

1                Back in Black
2    The Dark Side of the Moon
3                The Bodyguard
Name: Album, dtype: object